@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Work Sans", serif;
}
.displayFlax{
    display: flex;
    gap: 2rem;
}
.margin1{
    max-width: 1440px;
    margin:0px auto;
}
.margin2{
    max-width: 1340px;
    margin:0px auto;
}
.margin3{
    max-width: 1440px;
    margin:0px auto;

}
.title{
    font-size: 45px;
    font-weight: bold;
}
p{
    color: #727272;
}
li , a{
    list-style: none;
    text-decoration: none;
}
.Dark1{
    color: #131313;
}
.Dark2{
color: #424242;
}
.Dark3{
    color: #727272;
}
.primaryColor{
    color:  #FF900E;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 21px;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none; 
}
.btn{
    margin-top: 30px;
}

/* header section */
.header{
    padding-bottom: 30px;
}
.logo h1{
    font-size: 45px;
    font-weight: 700;
}
.NavBar a{
    color: #424242;
    font-size: 18px;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.NaviGation,.banner{
    justify-content: space-between;
    align-items: center;   
}
.sectionTitle{
     max-width: 800px;
     margin: 0 auto;
     text-align: center;
     margin-bottom: 50px;
}
/* banner section */  
.banner_title{
    font-size: 64px;
    font-weight: 700;
}

.Our_team{
    margin-top: 130px;
}
.teamsDis{
    align-items: center;
    padding: 20px;  
}
 .teams_member{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
 }
 .teams_member img{
    border-radius: 10px;
 }
 .description{
    width: 75%;
 }
 /* Features section */
 .FeatureHeading{
    border-left: 4px solid #FF900E;
    padding-left:  10px;
 }
 .OurFeatures{
    width: 40%;
 }
 .Feature{
    margin-top: 130px;
    gap: 40px;
    justify-content: space-between;   
 }
 .fetures{
    width: 91%;
    margin-top: 50px;
 }
 .architect img{
    width: 100%;
    height: 80%;
 }
 .experience{
    background-color: #FF900E;
    position: relative;
    margin-top: -65px;
    padding: 32px;
    width: 150px;
    text-align: center;
    font-size: 24px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
 }

 .card{
    justify-content: space-evenly;
 }
 .Fact p{
    width:40%;
    line-height: 25px;
 }
 .Fact h1{
    font-size: 30px;
 }
 .cards{
     text-align: center;
     margin-top: 50px;
     box-shadow: 1px 1px 5px 1px gray;
     padding: 20px;
     
     border-radius: 10px;
 }
 .Sponspors{
    margin-top: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
 }
 .Sponspors h1{
    font-size: 45px;
 }
 .Sponspors p{
    width: 30%;
 }
 .SponsporsLogo {
    justify-content: space-around;
    margin-top: 50px;
 }

 

